body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
  }
  p {
    color: #cd0000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
  }